.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: "Baskerville Old Face";
    letter-spacing: .1rem;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .secondContainer {
    text-align: center;
    padding: 20px;
  }

  .wrong {
    margin-top: 10px;
    color: #d43d3d;
  }
  
  h1 {
    color: #333333;
  }
  
  input {
    padding: 10px;
    margin: 10px 0 20px 0; /* Add margin to bottom for spacing */
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 200px;
    font-family: "Berlin Sans FB";
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-family: "Berlin Sans FB";
    font-size: 18px;
  }
  
  button:hover {
    background-color: #f0f8ff;
    color: black;
  }


  @font-face {
    font-family: 'Baskerville Old Face';
    src: url('fonts/subset-BaskOldFace.woff2') format('woff2'),
        url('fonts/subset-BaskOldFace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('fonts/BRLNSR.woff') format('woff');
}